[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
pytype = "*"
flake8 = "*"
black = "*"

[packages]
boto3 = "*"
botocore = "*"
pytz = "*"
pandas = "*"
pyspark = "*"

[requires]
python_version = "3.7"
